<!DOCTYPE HTML>
<html>
<head>
<title>Search Engine Optimization</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Affluence Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css files -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/team.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/services.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/pogo-slider.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/aos.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
<!-- fonts -->
<!-- js files -->
<script src="js/modernizr.js"></script>
<!-- /js files -->
</head>
<body>
<!-- banner section -->
<section class="banner-w3ls">
     <div class="logo-w3ls">
          <a href="views/index.html"><h1>Search Engine Optimization</h1></a>
     </div>    
     <div class="navigation-w3ls">
          <button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
          <div class="overlay overlay-door">
               <button type="button" class="overlay-close">Close</button>
               <nav>
                    <ul>
                         <li><a href="/" class="page-scroll">Home</a></li>
                        <!--  <li><a href="#assign1" class="page-scroll">Search Engine Results Page</a></li>
                         <li><a href="#assign2" class="page-scroll">Difference between SEO and SEM</a></li>
                         <li><a href="#assign3" class="page-scroll">On-page and Off-page SEO</a></li>
                         <li><a href="#assign4" class="page-scroll">URL Canonicalization</a></li>
                         <li><a href="#assign5" class="page-scroll">Website Grader</a></li> -->
                    </ul>
               </nav>
          </div>
     </div>
     <div class="pogoSlider" id="js-main-slider">
          <div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000"  style="background-image:url(../images/banner1.jpg);">
               <div class="pogoSlider-slide-element">
               <div class="container">
                         <h1>SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines.</h1>
                    </div>    
                    </div>
                    </div>
          <div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner2.jpg);">
               <div class="pogoSlider-slide-element">
               <div class="container">
                    <h1>As an Internet marketing strategy, SEO considers how search engines work, what people search for, the actual search terms or keywords typed into search engines and which search engines are preferred by their targeted audience.</h1>
               </div>
          </div>
          </div>    
          <div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner3.jpg);">
               <div class="pogoSlider-slide-element">
               <div class="container">
                    <h1>More SEO Guides and Books<br>
                  Another excellent guide is Google’s “Search Engine Optimization Starter Guide.” This is a free PDF download that covers basic tips that Google provides to its own employees on how to get listed. You’ll find it <a rel="nofollow" href="https://static.googleusercontent.com/media/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf">here</a>.</br></h1>
               </div>
          </div>
          </div>
          <div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner4.jpg);">
               <div class="pogoSlider-slide-element">
               <div class="container">
                    <h1>Also well worth checking out is Moz’s “Beginner’s Guide To SEO,” which you’ll find <a rel="nofollow" href="https://moz.com/beginners-guide-to-seo">here</a>, and the <a rel="nofollow" href="http://www.smallbusinesssem.com/the-seo-success-pyramid/971/">SEO Success Pyramid</a> from Small Business Search Marketing.</h1>
               </div>
          </div>
          </div>
</section>
<!-- /banner section -->
<!-- assign1 section -->
<section class="portfolio-agileinfo" id="assign1">
     <div class="container">
          <h3 class="text-center">Other website developers who also has articles about SEO</h3>
          <span class="fa fa-star-o" aria-hidden="true"></span>
          <body style="background-color: #FAD209;">
          <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/dianne.jpg" class="img-responsive">
                    </figure>
                    <span><b>Dianne Calamba</b></span><br>
                    <a href="https://allaboutseo.herokuapp.com/" target="_blank">allaboutseo</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/ryan.jpg" class="img-responsive">
                    </figure>
                    <span><b>Ryan Capua</b></span><br>
                    <a href="https://capua-seo.herokuapp.com/" target="_blank">capua-seo</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/claire.jpg" class="img-responsive">
                    </figure>
                    <span><b>Claire Cardiño</b></span><br>
                    <a href="https://itelect-assign1.herokuapp.com/" target="_blank">itelect-assign1</a>
                    </div>  <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/criscia.jpg" class="img-responsive">
                    </figure>
                    <span><b>Criscia Dama</b></span><br>
                    <a href="https://damase3.herokuapp.com" target="_blank">damase3</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/miguel.jpg" class="img-responsive">
                    </figure>
                    <span><b>Miguel Dorado</b></span><br>
                    <a href="https://infovert.herokuapp.com" target="_blank">infovert</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/zillah.jpg" class="img-responsive">
                    </figure>
                    <span><b>Zillah Poliquit</b></span><br>
                    <a href="https://poliquit-itelect-assign1.herokuapp.com" target="_blank">poliquit-itelect-assign1</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/harryn.jpg" class="img-responsive">
                    </figure>
                    <span><b>Harryn Llait</b></span><br>
                    <a href="https://seollait.herokuapp.com" target="_blank">seollait</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/marco.jpg" class="img-responsive">
                    </figure>
                    <span><b>Marco Matildo</b></span><br>
                    <a href="https://seo-mat.herokuapp.com" target="_blank">seo-mat</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/liza.jpg" class="img-responsive">
                    </figure>
                    <span><b>Liza Saludaga</b></span><br>
                    <a href="https://saludaga-060717.herokuapp.com" target="_blank">saludaga-060717</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure> 
                    <br><img src="http://thesearch.herokuapp.com/images/andrew.jpg" class="img-responsive">
                    </figure>
                    <span><b>Andrew Tenajeros</b></span><br>
                    <a href="https://seoassignment1.herokuapp.com" target="_blank">seoassignment1</a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/james.jpg" class="img-responsive">
                    </figure>
                    <span><b>James Tomambid</b></span><br>
                    <a href="https://tomambid-seo.herokuapp.com" target="_blank">tomambid-seo</a>
                    </div>  <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate fadeInUp animated">
                    <figure>
                    <br><img src="http://thesearch.herokuapp.com/images/ervin.jpg" class="img-responsive">
                    </figure>
                    <span><b>Ervin Villegas</b></span><br>
                    <a href="https://villegaselective1assignment2.herokuapp.com" target="_blank">villegaselective1assignment2</a>
                    </div>         
     </div></body></div></div>
</section>
<!-- /assign1 section -->

<section class="contact-w3layouts jarallax" id="contact">
</section>
<!-- copyright section -->
<div class="copright-w3">
     <div class="container">
          <div class="col-lg-6 col-md-6 col-sm-6">
              
          </div>
          <div class="clearfix"></div>
     </div>
</div>
<!-- /copyright section -->
<!-- js files -->
<script src="js/jquery.min.js"></script>
<!-- <script src="js/bootstrap.min.js"></script> -->
<script src="js/smoothscroll.js"></script>
<!-- <script src='js/aos.js'></script> -->
<script src="js/lazyload.js"></script>
<!-- <script src="js/jquery.easing.min.js"></script> -->
<script src="js/grayscale.js"></script>
<script src="js/jarallax.js"></script>
<script type="text/javascript">
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1680,
        imgHeight: 925
    })
</script>

<!-- js for banner -->
<script src="js/jquery.pogo-slider.min.js"></script>
<script src="js/main.js"></script>
<!-- /js for banner -->
<!-- js for navigation -->
<script src="js/classie.js"></script>
<script src="js/demo1.js"></script>
<!-- /js for navigation -->

</body>
</html>